{{- if .Values.ingress.enabled }}
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: {{ template "alfresco-java-service.fullname" . }}
  labels:
    app: {{ template "alfresco-java-service.fullname" . }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
  annotations:
    {{- include "common.ingress-annotations" . | indent 4 }} 
spec:
  rules:
    {{- if include "common.ingress-host" . }}
    - host: {{ template "common.ingress-host" . }}
      http:
    {{- else }}
    - http:
    {{- end }}
        paths:
        {{- if .Values.ingress.subPaths }}
          {{- $serviceName := .Values.service.name -}}
          {{- $contextPath := include "common.ingress-path" . -}}
          {{- $serviceNameTemplate := include "alfresco-java-service.fullname" . -}}
          {{- if .Values.ingress.enabled }}
          {{- range .Values.ingress.subPaths }}
          - path: {{ $contextPath | default "" }}{{ . }}
            backend:
              {{- if $serviceName }}
              serviceName: {{ $serviceName }}
              {{- else }}
              serviceName: {{ $serviceNameTemplate }}
              {{- end}}
              servicePort: http
          {{- end}}
        {{- else}}
        - path: {{ template "common.ingress-path" . }}
          backend:
            {{- if $serviceName }}
            serviceName: {{ $serviceName }}
            {{- else }}
            serviceName: {{ $serviceNameTemplate }}
            {{- end }}
            servicePort: {{ .Values.service.externalPort }}
        {{- end}}
  {{- if include "common.ingress-tls" . }}
  tls:
  - secretName: {{ template "common.ingress-tlssecretname" . }}
    {{- if include "common.ingress-host" . }}
    hosts:
    - {{ template "common.ingress-host" . }}
    {{- end }}
  {{- end }}
{{- end }}
{{- end }}
